:root[data-theme="dark"] {
   --bg: #898989;
   --text: #eeeeee
}

:root[data-theme="light"] {
   --bg: #f5f5f5;
   --text: black
}

.topbar {
  align-items: center;
  justify-content: space-between; /* left + right */
  padding: 10px 14px;
  height: 48px;
}

:root[data-theme="dark"] .topbar {
    background-color: #4d4d4d;
}

:root[data-theme="light"] .topbar {
    background-color: #d7d7d7;
}

#menuBtn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

#avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  outline: none;
}

body {
  background: var(--bg);
  color: var(--text);
}