 .dark .menu {
    left: 20px;
    box-shadow: #515151;
    box-shadow: 10px;
    background: #606060;
    font-size: 25px;
 }

 .dark .menu:hover {
    background: #7d7d7d;
 }

.dark .body {
   background: #0f0000
}