.dark html {
    background-color: #898989;
}

.light html {
    background-color: #e0e0e0;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* left + right */
  padding: 10px 14px;
  height: 48px;
}

#menuBtn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

#profileIcon {
  width: ;
  height: ;
  border-radius: 50%;
  object-fit: cover;
}